h1{
	margin-top: 50px;
	text-align: center;
	color: green;
}

div{
	float: left;
	margin: 60px 80px;
}

#copy{
	border: 1px solid black;
}

#backgroung-img{
	background-image: url('../source/background.jpg'); 
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	left: 0px;
    top: 0px;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size:cover;
}

#copy:hover{
	cursor: pointer;
}

#restartBtn{
	margin: 0px 600px;
    text-align: center;
}



